<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MessageAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WebHome.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MessageAgent.Properties.Settings>
            <setting name="CheckMessageIntervalInMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CurrentMsgKey" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PushMessageUrl" serializeAs="String">
                <value>http://localhost:17185/InfoCenter/PushMessage</value>
            </setting>
        </MessageAgent.Properties.Settings>
        <WebHome.Properties.Settings>
            <setting name="CenterID" serializeAs="String">
                <value>AWTK</value>
            </setting>
            <setting name="PRMType" serializeAs="String">
                <value>EXAWTK</value>
            </setting>
            <setting name="PRMUsed" serializeAs="String">
                <value>756001</value>
            </setting>
            <setting name="GetAuthToken" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/authorization/query</value>
            </setting>
            <setting name="GetBuildingInfo" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/building/query</value>
            </setting>
            <setting name="InsertDevice" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/insert_1</value>
            </setting>
            <setting name="UpdateDevice" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/update_1</value>
            </setting>
            <setting name="DeleteDevice" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/delete</value>
            </setting>
            <setting name="ValidTokenDurationInMinutes" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WebHome_BA_Service_sr_BA_DeviceWebService" serializeAs="String">
                <value>http://211.23.68.235:8188/service/sr_BA_DeviceWebService.asmx</value>
            </setting>
            <setting name="DeviceHeartBeatPeriodInMinutes" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="JobSchedulerInMilliseconds" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LeaderID" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryAllDevices" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/device/query_1</value>
            </setting>
            <setting name="CheckEventIntervalInSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CommunicationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TouchLifeOutbound" serializeAs="String">
                <value>http://nsst.tw:8080/c148/monitor/intercom.php</value>
            </setting>
            <setting name="HostUrl" serializeAs="String">
                <value>http://localhost:17185</value>
            </setting>
            <setting name="GetResidentInfo" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/resident/query</value>
            </setting>
            <setting name="GetResidentMessage" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/message_board/query</value>
            </setting>
            <setting name="EnergyDegreeQuery" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/query</value>
            </setting>
            <setting name="EnergyDegreeUpdate" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/udate</value>
            </setting>
            <setting name="EnergyDegreeInsert" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/insert</value>
            </setting>
            <setting name="EnergyDegreeDelete" serializeAs="String">
                <value>http://211.23.68.235:8188/service/SecomBAService.svc/energy/degree/delete</value>
            </setting>
            <setting name="MessageCenter_BA_Service_sr_BA_DeviceWebService" serializeAs="String">
                <value>http://211.23.68.235/service/sr_BA_DeviceWebService.asmx</value>
            </setting>
        </WebHome.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
